@import "tailwindcss";
@import "./normalize.css";
@import "./main.css";
@import "./bootstrap.min.css";
@import "./meanmenu.min.css";
@import "./fontawesome-all.min.css";
@import "./animate.min.css";
@import "./select2.min.css";
@import "./magnific-popup.css";
@import "./style.css";
/*font/flaticon.css*/
@import "../../public/font/flaticon.css";
@import "../../public/vendor/slick/slick.css";
@import "../../public/vendor/slick/slick-theme.css";

body, html {
    margin: 0;
    padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
