name: Build & Deploy Next.js to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  pages:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install pnpm 10.22
        run: npm install -g pnpm@10.22.0

      - name: Install dependencies
        run: pnpm install

      - name: Build Next.js static files
        run: pnpm run build  # next build + next export

      - name: Setup Pages
        uses: actions/configure-pages@v1

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./out  # dossier généré par next export

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
